<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="/Assets/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style>
          /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
          #map {
              height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
              height: 100%;
              margin: 0;
              padding: 0;
          }

          #floating-panel {
              position: absolute;
              top: 10px;
              left: 25%;
              z-index: 5;
              background-color: #fff;
              padding: 5px;
              border: 1px solid #999;
              text-align: center;
              font-family: 'Roboto','sans-serif';
              line-height: 30px;
              padding-left: 10px;
          }
          #selection{
              margin-top: 5px;
              margin-bottom: 5px;
          }
    </style>

</head>
<body onload="initialize()">
    <div id="map">
      
    </div>
    @RenderBody()

    <script src="/Assets/jquery-3.1.1.min.js"></script>
    <script src="/Assets/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script src="/Assets/vue-2.5.3.js"></script>
    <script src="/Assets/bootbox.min.js"></script>
<<<<<<< HEAD

    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>


=======
    <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase.js"></script>
>>>>>>> 27e27c1489a374d89fbd576ce0621c1333e2ac1c
    <script>

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBPRUwT-TI81VkXmC_MReaj8msT-8NTxEY",
            authDomain: "doangiuakiapp1.firebaseapp.com",
            databaseURL: "https://doangiuakiapp1.firebaseio.com",
            projectId: "doangiuakiapp1",
            storageBucket: "doangiuakiapp1.appspot.com",
            messagingSenderId: "208748898412"
        };
        firebase.initializeApp(config);
    </script>

    <script src="/Assets/scripts/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkXZtUT0xV5xWjf39lS1de3qFybmlyRzA&callback=initMap"
            async defer>

    </script>
</body>
</html>