@{
    ViewBag.Title = "Home Page";
}

<section id="contact">
    <div class="section-content">
        <h1 class="section-header">Nhập thông tin <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> khách hàng</span></h1>
        <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h3>
    </div>
    <div class="contact-section">
        <div class="container">
            <form>
                <div class="col-md-6 form-line">
                    <div class="form-group">
                        <label for="exampleInputUsername">Tên khách hàng</label>
                        <input type="text" class="form-control" id="customerName" placeholder=" Nhập tên">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Số điện thoại</label>
                        <input type="tel" class="form-control" id="telephone" placeholder=" Nhập 11 số">
                    </div>
                    <div class="form-group">
                        <label for="telephone">Loại xe</label>
                        <select class="form-control" id="type">
                            <option selected>Thường</option>
                            <option value="1">Premium</option>
                            
                        </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description"> Địa điểm</label>
                        <textarea class="form-control" id="address" placeholder="Vị trí đón khách"></textarea>
                    </div>
                   

                </div>
                <div>
                    <button type="submit" class="btn btn-default submit" id="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Xác nhận</button>
                </div>
            </form>
        </div>
        </div>
</section>