
@{
    ViewBag.Title = "Định Vị Xe - Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  id="floating-panel">
    <input id="address" type="text" value="Hồ Chí Minh">

    <input type="button" value="Encode" onclick="codeAddress($('#address').val())">


</div>



